/* superman yellow: (255,235,0) */


body {
    background-color:rgba(13, 132, 223, 0.9);
}

header {
    /* max-height:340px; */
    width: 90%;
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    background-color: rgb(247, 10, 10);
    
}



header h1 {
    display: flex;
    align-self: center;
    font-family: 'Bangers', cursive;
    font-size: 7vw;
    text-shadow: 3px 3px 3px white;
}


header .allMight {
    height: 100%;
    width: 25%;
    /* border: 2px solid black; */
    display: flex;
    order: 0;
    background-color:rgb(247, 10, 10);
    align-self: flex-end;
}

header .goku {
    height: 100%;
    width: 25%;
    /* border: 2px solid black; */
    display: flex;
    order: 0;
    background-color: rgb(247, 10, 10);
    align-self: flex-end;
}

/* blockquote.bubble { 
	background-position: center;
  background-repeat: no-repeat !important;
	background-size: 100% 100%;
  margin: 0 auto;
 
  
	}

blockquote.speech {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/speech-bubble.svg);
  height: 50px;
  width: 20%;
  padding-top: 6%;
    padding-bottom: 20%;
    transform: rotate(100deg);
} */



#drag {
    margin-top: 20px;
    height: 50px;
    width:89%;
    /* border: 2px solid black; */
    padding-left: 10px;
    font-size: 2vw;
    font-family: 'Bangers', cursive;
    text-shadow: 1px 1px 1px white;
}

#buttonContainer {
    margin-top: 20px;
    /* height: 30px; */
    /* width:88%; */
    
    /* border: 2px solid black; */
    
}

#generate {
    margin-top: 5px;
    background-color: rgb(247, 10, 10);
    font-family: 'Bangers', cursive;
    font-size: 20px;
    text-shadow: 1px 1px 1px white;
}


.characterPics {
    margin-top: 20px;
    /* height: 400px; */
    width: 90%;
    /* border: 2px solid black; */
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex-grow: 1; */
    /* flex-wrap: wrap; */
}

/* .pics {
    height: 20%;
    width:10%;
    border: 2px solid red;
    margin-right: 5px;
    margin-top: 5px;

} */


/* .pics {
    margin-right: 10px;
    margin-left: 10px;
} */

.drag {
    height: 49.6%;
    width: 19.6%;
    max-width: 150px;
    margin-top: 15px;
    margin-bottom: 20px;
}

#image {
    height: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

#arena {
    margin-top: 20px;
    /* height: 70px; */
    width: 90%; 
    /* border: 2px solid black; */
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 3vw;
    text-shadow: 2px 2px 2px rgb(255,235,0);
}


#battleArena {
    margin-top: 20px;
    height: 40px;
    width: 90%;
    /* border: 2px solid black; */

    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5px;
}

#start {
    background-color: rgb(255,235,0);
    font-family: 'Bangers', cursive;
    font-size: 2vw;
    padding-right: 7px;


}




#container {
    height: 400px;
    width: 90%;
    border: 2px solid black;
    background-color:rgb(255,235,0);

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* display: none; */

}
#player1 {
    height: 65%;
    width:24%;
    border: 2px solid black;
    background-color:rgb(247, 10, 10);
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

#player1 h1 {
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 3vw;
    text-shadow: 1px 1px 1px white;
}

#versus {
    font-family: 'Bangers', cursive;
    font-size: 5vw;
    text-shadow: 1px 1px 1px rgb(247, 10, 10);
}

#player2 {
    height: 65%;
    width:24%;
    border: 2px solid black;
    background-color:rgb(247, 10, 10);
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

#player2 h1 {
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 3vw;
    text-shadow: 1px 1px 1px white;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
	display: none;
}

#modal-textbox {
	background-color: rgba(13, 132, 223, 1);
	height: 70%;
    width: 80%;
    border: 4px solid black;
	/* border-radius: 2px; */
	margin: 150px auto;
	/*This will set the margins for the top and the bottom to 150px (or larger). The right and left will automatically set themselves (and keep the box centered horizontally).*/
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	/*This will give the box some depth.*/
	/* padding: 2%; */
	line-height: 120%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}

#modal-footer {
	text-align: right;
}

/* #modal-textbox #lb {
    height: 40px;
    width: 200px;
    text-align: center;
} */

#modal-textbox #vs {
    text-align: center;
    height: 10%;
    width: 10%;
    align-self: center;
    font-family: 'Bangers', cursive;
    font-size: 5vw;
    text-shadow: 1px 1px 1px rgb(247, 10, 10);
    margin-right: 10px;
    margin-left: 10px;
    
}

#p1 {
    background-color: rgb(247, 10, 10) ;
    height: 50%;
    width: 40%;
    border: 2px solid black;
    align-self: center;
    margin-left: 30px;
    display:flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    
}
.player1Buttons {
    height: 20%;
    width: 100%;
    /* border: 2px solid rgb(247, 10, 10); */
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    align-items: center;
}

.healthBar1 {
    display: flex;
    height: 10%;
    width: 100%;
    border: 2px solid green;
    background-color: green;
    align-self: flex-end;
    align-items: flex-start;
    margin-right: auto;
}

#attack1{
    height:60%;
    width: 30%;
    margin-left: 10px;
    background-color: rgb(255,235,0);
    font-family: 'Bangers', cursive;
    font-size: 2vw;
}

#forfeit1 {
    height:60%;
    width: 30%;
    margin-right: 10px;
    background-color: rgb(255,235,0);
    font-family: 'Bangers', cursive;
    font-size: 2vw;
}

#checkStats1{
    height:60%;
    width: 30%;
    background-color: rgb(255,235,0);
    font-family: 'Bangers', cursive;
    font-size: 1.5vw;
}



#p2 {
    background-color: rgb(255,235,0);
    height: 50%;
    width: 40%;
    border: 2px solid black;
    align-self: center;
    margin-right: 30px;
    display:flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

.healthBar2 {
    display: flex;
    height: 10%;
    width: 100%;
    border: 2px solid green;
    background-color: green;
    align-self: flex-end;
    align-items: flex-start;
    margin-right: auto;
}

#attack2{
    height:60%;
    width: 30%;
    margin-left: 10px;
    background-color: rgb(247, 10, 10);
    font-family: 'Bangers', cursive;
    font-size: 2vw;
}

#forfeit2 {
    height:60%;
    width: 30%;
    margin-right: 10px;
    background-color: rgb(247, 10, 10);
    font-family: 'Bangers', cursive;
    font-size: 2vw;
}

#checkStats2{
    height:60%;
    width: 30%;
    background-color: rgb(247, 10, 10);
    font-family: 'Bangers', cursive;
    font-size: 1.5vw;
}


.modal-buttons {
	padding: 14px 18px;
	background-color: #677996;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
    cursor: pointer;
    display: none;
}