header {
    height:100px;
    width: 90%;
    border: 2px solid black;
    text-align: center;
}

#drag {
    margin-top: 20px;
    height: 50px;
    width:89%;
    border: 2px solid black;
    padding-left: 10px;;
}

#field {
    margin-top: 20px;
    height: 30px;
    width:88%;
    border: 2px solid black;
    
}

#field button {
    margin-top: 5px;
}


#characterPics {
    margin-top: 20px;
    height: 400px;
    width: 90%;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

/* .pics {
    height: 20%;
    width:10%;
    border: 2px solid red;
    margin-right: 5px;
    margin-top: 5px;

} */


/* .pics {
    margin-right: 10px;
    margin-left: 10px;
} */

.drag {
    height: 49.6%;
    width: 19.6%;
}

#image {
    height: 100%;
    width: 100%;
}

#arena {
    margin-top: 20px;
    height: 70px;
    width: 90%;
    border: 2px solid black;
    text-align: center;
}


#battleArena {
    margin-top: 20px;
    height: 40px;
    width: 90%;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5px;
}


#container {
    height: 400px;
    width: 90%;
    border: 2px solid green;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#player1 {
    height: 150px;
    width:210px;
    border: 2px solid black;
    margin-left: 100px;
}

#versus {
    font-size: 70px;
}

#player2 {
    height: 150px;
    width:210px;
    border: 2px solid black;
    margin-right: 100px;
}